.git
.github
.env
.env.*
!.env.example
*.pem
*.key
*.p12
*.pfx
*.crt
*.cer
id_rsa*
id_ed25519*
.aws
.config/gcloud
.azure
.npmrc
.next
.wrangler
dist
node_modules
output
public/generated
backups
npm-debug.log*
